<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a  mat-list-item routerLink="">Home</a>
      <a *ngIf="logserv.isAdmin" mat-list-item routerLink="addcake">Add Cake</a>
      <a *ngIf="!logserv.isUser && !logserv.isAdmin" mat-list-item routerLink="login">Login</a>
      <a *ngIf="!logserv.isUser && !logserv.isAdmin" mat-list-item routerLink="register">Register</a>
      <a *ngIf="logserv.isUser || logserv.isAdmin" mat-list-item routerLink="logout" (click)="logserv.logoutpage()">Logout</a>
      <a mat-list-item *ngIf="logserv.isAdmin" routerLink="ordered">OrderDetails</a>
    </mat-nav-list>
  

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Bake A Cake</span>
      <a class="welcome" *ngIf="logserv.isUser || logserv.isAdmin" mat-list-item routerLink="viewallcakes">Welcome {{logserv.username}}</a>
    </mat-toolbar>
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
