<div class="login-form">
    <form [formGroup]="userModel" class="example-form" (ngSubmit)="getUserEmailPass()">
        <h1 id="login-Head">Login</h1>

        <div id="input-field">
            <mat-form-field class="example-full-width">
                <mat-label>E-Mail Id</mat-label>
                <input matInput formControlName="emailiD">
                <div *ngIf="emailiD?.touched">
                    <mat-error *ngIf="emailiD?.errors?.['required']">E-Mail Id is Mandatory</mat-error>
                </div>
            </mat-form-field>
        </div>

        <div id="input-field">
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <i [ngClass]="visible ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
                <input type="{{visible ? 'text' : 'password'}}" matInput formControlName="password">

                <div *ngIf="password?.touched">
                    <mat-error *ngIf="password?.errors?.['required']">Password Is Mandatory </mat-error>
                </div>

            </mat-form-field>
        </div>

        <div id="button-field">

            <button style="margin: 5px;background-color: rgb(25, 25, 201);" mat-raised-button
                (click)="getUserEmailPass()" type="submit" [disabled]="userModel.invalid">Login</button>
            <button style="margin: 5px;" mat-raised-button color="accent" type="reset">Clear</button>

        </div>
    </form>
</div>